/* Global Styles */

section {
    padding: 60px 0;
}




/*------------------------------------
  0. Header
------------------------------------*/

.page-header {
    margin-top: 0;
    padding: 0;
    height: 600px;
    background: url("../img/intro-bg.jpg") no-repeat center;
    border-top: 10px solid #2ecc71;
}

.page-header .intro-col-left {
    height: 590px;
}

.page-header .intro-col-left {
    padding-top: 167px;
}

.page-header .intro-col-left h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    margin: 0 0 36px;
}

.page-header .intro-col-left p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 26px;
}

.text-green {
    color: #2ecc71;
}

.page-header .intro-col-left .operating-system {
    width: 52px;
    height: 52px;
    background-color: #030303;
    opacity: .7;
    text-align: center;
    line-height: 52px;
    color: #fff;
    float: left;
    margin-right: 16px;
    border-radius: 50%;
    font-size: 25px;
}

.page-header .intro-col-left .operating-system:hover {
    background: #2ecc71;
    opacity: 1;
}

.page-header .intro-col-right {
    line-height: 590px;
}

.page-header .intro-col-right .intro-img {
    vertical-align: bottom;
}



/*------------------------------------
  1. Feature
------------------------------------*/

.section-features .feature-col {
    text-align: center;
}

.section-features .feature-col {
    text-align: center;
}

.section-features .feature-col .feature-img-wrap {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: #2ecc71;
    display: inline-block;
    margin-bottom: 30px;
    line-height: 98px;
}

.section-features .feature-col .feature-img-wrap .feature-icon {
    color: #fff;
    font-size: 43px;
    vertical-align: middle;
}



/*------------------------------------
  2. Subscribe
------------------------------------*/

.section-subscribe {
    background-color: #e3e3e3;
}

.section-subscribe .subscription-form {
    margin: 18px 0 30px;
}

.section-subscribe .subscription-form::after {
    content: '';
    clear: both;
    display: block;
}

.section-subscribe .subscription-form .subscription-form-input {
    width: 50%;
    float: left;
    height: 56px;
    line-height: 34px;
    padding: 10px 26px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #848484;
    font-size: 18px;
}

.section-subscribe .subscription-form .subscription-form-button {
    float: left;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border: 0;
    background-color: #2ecc71;
    border-radius: 0 15px 15px 0;
    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    min-width: 140px;
    padding: 0 30px;
}

.section-subscribe .video-iframe {
    border-radius: 7px;
}



/*------------------------------------
  3. Social
------------------------------------*/

.section-social .section-quote {
    color: #848484;
    font-family: "Helvetica Neue";
    font-size: 18px;
    line-height: 30px;
}

.horizontal-centered-list {
    padding: 0;
    font-size: 0;
    display: inline-block;
}

.horizontal-centered-list > li {
    display: inline-block;
    list-style-type: none;
}

.section-social .social-icon-list {
    margin: 14px 0 0;
}

.section-social .social-icon-list .social-icon-item {
    margin: 0 5px;
}

.section-social .social-icon-list .social-icon-item .social-icon-link {
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    background-color: #c5c5c5;
    display: block;
    font-size: 19px;
    color: #fff;
    opacity: .5;
}

.section-social .social-icon-list .social-icon-item .social-icon-link:hover {
    background: #2ecc71;
    opacity: 1;
}





